.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav li button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.nav li button:hover {
  background-color: #45a049;
}
